.bg-light {
  background-color: #202020 !important;
}
.top-25 {
  left: 490px;
  top: 800px;
}
.w-100 {
  width: 100% !important;
  height: 900px !important;
}
.movie-hover:hover {
  color: #cf1312 !important;

  transition: all 0.5s;
}

.card-image:hover {
  height: 426px;
  overflow: hidden;
}
.card-image img {
  transition: all 0.3s;
}
.card-image:hover img {
  transform: scale(1.1);
}
a {
  text-decoration: none;
}
body {
  width: 1920px;
  overflow-x: hidden;
}
.kapsam {
  margin-left: 190px;
  margin-right: 150px;
}
