* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  background-color: #1a1a19;
}
ul li {
  display: inline-block;
  width: 100px;
  list-style-type: none;
  padding: 10px;
  position: relative;
}
ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  width: 100px;
}

ul li a:hover {
  color: #ce231d;
}
ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 43px;
}
ul li:hover ul {
  display: block;
  float: left;
}
ul li:hover {
  background-color: #262624;
}
